/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.text_primary {
  color: #fd6e0a;
}
.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  color: #fff;
}
/* Nav section start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav a {
  text-decoration: none;
}
